.navigation {
  width: 100%;
  background-color: #131921;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 1;
}

.logo {
  background-image: url("../assets/logo.png");
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.nav-links a.active {
  color: #2563eb;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo-container p {
  font-style: italic;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
}

.logo-container p span {
  color: #f08804;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  height: 100%;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9rem;
  font-style: italic;
  color: #ffffff;
}

.nav-links a sup {
  color: #f08804;
  margin-left: 4px;
  font-size: 0.9rempx;
  font-weight: bold;
}

.nav-links a :hover {
  color: #7b1ef8;
}

.button-login-container {
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.searchbar {
  width: 30%;
  background-color: white;
  display: flex;
  gap: 0 20px;
  align-items: center;
  height: 38px;
  border-radius: 5px;
}

.searchicon {
  font-size: 1.2rem;
  margin-left: 15px;
}

.searchBox {
  width: 100%;
  height: 100%;
  border: none;
  margin: 7px;
  outline: 0;
  color: #111;
  background: 0 0;
  text-overflow: ellipsis;
}

#catagory {
  height: 42px;
  padding: 0 10px 0 10px;

  border: 1px solid #e5e7eb;
  border-radius: 10px;

  background: #ffffff;
  color: #374151;

  font-size: 14px;
  font-weight: 500;

  outline: none;
  cursor: pointer;

  transition: 0.25s ease;
}

#catagory:hover {
  border-color: #cbd5e1;
}

#catagory:focus {
  border-color: #111827;
  box-shadow: 0 0 0 3px rgba(17, 24, 39, 0.08);
}
.button-login-container button {
  width: 86px;
  height: 35px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

#sign-up-button {
  background-color: #f08804;
  color: black;
  font-weight: 600;
}
